@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "suit";
  src: url("/assets/fonts/SUITE-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "suitBold";
  src: url("/assets/fonts/SUITE-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "suitSemiBold";
  src: url("/assets/fonts/SUITE-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "intel";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: "suit";
    font-size: 1rem;
    letter-spacing: 0.0406rem;
    @screen tablet {
      font-size: 0.875rem;
    }

    @apply bg-neutral-800;

    @screen mobile {
      font-size: 0.75rem;
    }
  }
}

@layer components {
  .grandientTitle {
    background: linear-gradient(
      to top,
      #faac40 0%,
      transparent 74%,
      transparent 100%
    );
  }
}
