@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "suit";
  src: url("/assets/fonts/SUITE-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "suitBold";
  src: url("/assets/fonts/SUITE-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "suitSemiBold";
  src: url("/assets/fonts/SUITE-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "intel";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  html {
    font-family: "suit";
    font-size: 1rem;
    letter-spacing: 0.0406rem;
    @screen tablet {
      font-size: 0.875rem;
    }

    @apply bg-neutral-800;

    @screen mobile {
      font-size: 0.75rem;
    }
  }
}

@layer components {
  .imessage {
    @apply bg-white border rounded flex flex-col max-w-[600px] mt-0 mb-4 mx-auto px-6 py-2 border-solid border-[#e5e5ea];
  }
  .imessage p {
    @apply max-w-[75%] relative px-3.5 py-2 rounded-2xl;
  }
  .imessage p::before,
  .imessage p::after {
    @apply bottom-[-0.1rem] content-[""] h-4 absolute;
  }
}
